.main {
    display: flex;
}

.about {
    font-size: 17px;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: 200;

}

.nav-item {
    padding: 20px 14px !important;
}

.nav-item:hover {
    border-radius: 10px;
    height: 75px;
    background-color: rgba(64, 244, 100, 0.774);
}


.p1 {
    padding-top: 160px;
}
.p1 h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: -0.6px;
}


.p2 {
    padding-top: 70px;
}


.p3 button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    letter-spacing: +0.4px;
    width: 320px;
    height: 50px;
    border: none;
}