.main {
    display: flex;
}

.about {
    font-size: 17px;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: 200;

}

.nav-item {
    padding: 20px 14px !important;
}

.nav-item:hover {
    border-radius: 10px;
    height: 75px;
    background-color: rgba(64, 244, 100, 0.774);
}

strong {
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 42px;
    letter-spacing: +0.4px;


}

.tick1 {
    display: flex;

}

.tick1 p {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 18px;
    padding-top: 12px;
    padding-left: 15px;
    letter-spacing: -0.2px;
}

.tick2 {
    display: flex;

}

.tick2 p {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 18px;
    padding-top: 12px;
    padding-left: 15px;
    letter-spacing: -0.2px;
}

.tick3 {
    display: flex;

}

.tick3 p {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 18px;
    padding-top: 12px;
    padding-left: 15px;
    letter-spacing: -0.2px;
}




.but button {
    width: 360px;
    height: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    letter-spacing: +0.8px;
    border: none;
    color: white;
    background-color: rgba(36, 181, 36, 0.774);
}

.matter {
    height: 100%;
}

.matter img {
    width: 130px;
}

.linet {
    height: 100%;
    padding-top: 120px;
    display: flex;
}

.linet h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
    font-weight: bold;
    font-style: normal;
}


.lbt button {
    background-color: rgba(44, 181, 181, 0.925);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-style: normal;
    letter-spacing: +0.8px;
    width: 320px;
    height: 50px;
    border: none;
}


.linef {
    height: 90vh;
    padding-top: 150px;
}

.linef h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-style: normal;
    font-size: 40px;
    letter-spacing: -0.5px;
}

.vertical-bar {
    background-color: #2bc930;
    width: 30px;
    height: 242px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.problem {
    padding-top: 90px;
}

.style h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
}

.style p {
    font-size: 17px;

}


.vd {
    padding-left: 60px;
    padding-top: 75px;

}

.linefive {
    padding-right: 60px;
    padding-bottom: 0px;

}

.linefive h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    font-weight: bolder;
    font-style: normal;
    letter-spacing: -0.5px;
}

.linesx {
    height: 80vh;
    padding: 0px 180px;

}

.card {
    width: 260px;
    padding: 30px 0px;
}

.card-text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-size: 17px;
    padding-top: 15px;
    letter-spacing: -0.4px;
}



.card-img-top img {
    width: 80px;
}


.card-body img {
    width: 30px;
}


.ending button {
    width: 300px;
    height: 50px;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    letter-spacing: +0.9px;
    border: none;
}



.caption h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
    font-weight: 600;
    font-style: normal;
}


.create p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}


.last {
    background-color: #66CC00;
    border-radius: 15px;
    color: white;
    padding-left: 20%;
    padding-right: 32%;
    padding-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    margin: 0;
}

.footer-header img {
    padding-bottom: 20px;

}


.footer-body p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-size: 20px;
    padding-top: 10px;

}

.lastin {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    border: none;
    padding-left: 10px;
    height: 50px;
    width: 300px;
}


.linez {
    display: flex;
    padding-top: 140px;
    padding-left: 30%;
}

.linez h2 {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}


.column {
    padding: 10px 30px;
}

.column p {
    font-size: 14px;
    font-weight: 350;
    letter-spacing: +0.4px;

}

.modal-header img {
    padding-left: 26%;
}

.modal-header img {
    width: 330px;

}

.modal-body h4 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    font-weight: bolder;
    font-style: normal;
    letter-spacing: +0.1px;
}

.new button {
    width: 320px;
    height: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    letter-spacing: +0.9px;
    border: none;
    color: white;
    background-color: rgba(36, 181, 36, 0.774);
}

.new1 p {
    font-size: 15px;
    font-weight: 200;
    letter-spacing: +0.1px;
}

.new2 button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    letter-spacing: +0.9px;
    width: 320px;
    height: 50px;
    border: none;
}

.new3 p {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: +0.1px;
}

.new4 p {
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    letter-spacing: +0.5px;
}