.main {
    display: flex;
}

.about {
    font-size: 17px;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: 200;

}

.nav-item {
    padding: 20px 14px !important;
}

.nav-item:hover {
    border-radius: 10px;
    height: 75px;
    background-color: rgba(64, 244, 100, 0.774);
}


.ms1 {
    padding-left: 70px;
}

.m1 {
    padding: 60px;
}

.m1 h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    font-weight: bolder;
    font-style: normal;
    letter-spacing: -0.4px;
}

.m1 p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    letter-spacing: +0.2px;
}

.m2 {
    padding-left: 40px;
}

.m2 h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 32px;
    font-weight: bolder;
    font-style: normal;
    letter-spacing: -0.9px;
}

.m2 p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    letter-spacing: +0.2px;
}

.bt button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    letter-spacing: +0.4px;
    width: 320px;
    height: 50px;
    border: none;

}

.m3s {
    padding-left: 75px;
    
}

.m4 {
    padding: 1px 0px;
}

.m3 h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 27px;
    font-weight: 600;
    letter-spacing: +0.4px;
}

.m4 {
    display: flex;
}
.m4 img {
    width: 25px;
}


.m4 p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
    font-weight: 500;
    padding-top: 20px;
    letter-spacing: +0.2px;
}

.m6 {
    display: flex;

}


.m5 h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: +0.3px;
}

.m6 h6 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: +0.2px;

}

.m7 {
    flex-direction: column;
}

.m8s {
    padding: 60px;
}
.m8 {
    padding-left: 75px;
}

.m8 h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 32px;
    font-weight: bolder;
    font-style: normal;
    letter-spacing: -0.5px;
}

.m8 p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
    font-weight: 500;
    padding-top: 20px;
    letter-spacing: +0.2px;
}


.m9 {
    padding-left: 75px;
}
.m9 h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 28px;
    font-weight: bolder;
    font-style: normal;
    letter-spacing: -0.3px;
}

.m9 p {
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
    font-weight: 500;
    padding-top: 20px;
    letter-spacing: +0.4px;
}

.m10 p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}

.modal-header img {
    padding-left: 26%;
}

.modal-header img {
    width: 330px;

}

.modal-body h4 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    font-weight: bolder;
    font-style: normal;
    letter-spacing: +0.1px;
}

.new button {
    width: 320px;
    height: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    letter-spacing: +0.9px;
    border: none;
    color: white;
    background-color: rgba(36, 181, 36, 0.774);
}

.new1 p {
    font-size: 15px;
    font-weight: 200;
    letter-spacing: +0.1px;
}

.new2 button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    letter-spacing: +0.9px;
    width: 320px;
    height: 50px;
    border: none;
}

.new3 p {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: +0.1px;
}

.new4 p {
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    letter-spacing: +0.5px;
}